input, textarea {
  margin: 30px;
  display: flex;
  align-items: center;
}

form {
  border-radius: 58px;
background: #EFFFCA;
box-shadow: inset 16px 16px 33px #aeba93,
            inset -16px -16px 33px #ffffff;
  padding-left: 9vw;
  padding-right: 9vw;
  padding-top: 4.5vw;
  padding-bottom: 5vw;
  min-width: fit-content;
  margin: 4px;
}

label {
  text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
}

.contactCont {
  margin: 20px 0px;
  margin-bottom: 200px;
  align-items: center;
  width: auto;
  max-width: max-content;
}

#submitBtn {
  padding: .5vw 1.4vw;
  border: 2px solid #778753;
  border-radius: 58px;
  background: #aab6af;
  box-shadow: inset 10px 10px 20px #7c8580,
            inset -10px -10px 25px #d8e7de;
  color: #485785;;
  font-weight: 700;
  font-size:clamp(1.2rem, 2.5vw, 1.5rem);
  filter: drop-shadow(10px 7px 12px #48494366);
}

#thanks {
  margin-top: 40px;
  font-size:clamp(.7rem, 2.5vw, 1.2rem);
  font-style: italic;
}
