
h3 {
  padding: 4px;
  margin-bottom: 20px;
  font-size:clamp(1.2rem, 4vw, 1.4rem);
  font-weight: 600;
}

.education img {
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

#edu {
  margin-top: 10px;
}

#resumeBtn {
  padding: 10px;
  border-radius: 58px;
  background: #c8feb1;
  box-shadow: inset 9px 11px 34px #96a76f, inset -19px -16px 33px #edf8c7;
font-size:clamp(1.2rem, 3vw, 1.4rem);
border: 1px solid #cdf444;
font-weight: 700;
filter: drop-shadow(2px 2px 4px #545353a2);

}

#resumeBtn:hover{
  filter: drop-shadow(4px 4px 4px #5453537e);
  transform: translate(-2px, -2px);
}

.education{
  margin-top: 20px;
  padding: 10px;
  border: 2px solid #778753;
  border-radius: 58px;
  background: #aab6af;
  box-shadow: inset 16px 16px 33px #7c8580,
            inset -16px -16px 33px #d8e7de;
}

.proficiencies {
  margin-bottom: 300px;
  margin-top: 50px;
  padding: 10px;
  border: 2px solid #778753;
  border-radius: 58px;
  background: #aab6af;
  box-shadow: inset 16px 16px 33px #7c8580,
            inset -16px -16px 33px #d8e7de;
}

.proficiencies img {
  margin: 8px;
}

.resRow {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

#btnBorder {
  margin-top: 50px;
  padding: 50px;
  border: 2px solid #778753;
  border-radius: 58px;
  background: #aab6af;
  box-shadow: inset 16px 16px 33px #7c8580,
            inset -16px -16px 33px #d8e7de;
}

#logo24{
  max-width: 500px;
}

#featTesth1{
  margin-bottom: 20px;
  border: 2px solid #778753;
  display: flex;
  justify-content: center;
  font-size: clamp(2.3rem, 4vw, 3.4rem);
}

#vidDiv{
  margin-bottom: 20px;
}

