#intro {
  font-size: clamp(.9rem, 4vw, 1.3rem);
  color: #38483f;
  padding: calc(10px + 2vw);
  border-radius: 58px;
  background: #b7eba1;
  box-shadow:  8px 8px 16px #8ab678,
             -8px -8px 16px #f0ffd0;
  min-width:fit-content;
  border: 2px solid #92e770;
}

#intro a {
  text-decoration: none;
  color: #639f7c;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(134, 131, 131, 0.3), -2px -2px 4px rgba(255,255,255,1);
}

.introCol {
  padding: 2vw;
}

#aboutTxt {
  /* margin: 30px;
  padding: .7vw;
  border: 2px solid #9ea985;
  border-radius: 0px;
  background: #f2fff7;
  box-shadow: inset 4px 13px 33px #828783, inset -4px -13px 33px #cbead7;
  font-size: clamp(1.2rem, 4vw, 1.7rem);
  min-width: fit-content;
  color:#34443a;
  filter: drop-shadow(3px 4px 4px #7b797965); */

  display: inline-block;
  margin-top: 65px;
  margin-bottom: 20px;
  padding: calc(.9vw + 10px) calc(18vw + 50px);
  border: 2px solid #9ea985;
  border-radius: 0px;
  background: #f2fff7;
    box-shadow: inset 16px 16px 33px #94a297, inset -16px -16px 33px #cbead7;
  font-size: clamp(1.4rem, 4vw, 2rem);
  min-width: fit-content;
  color:#485785;
  font-weight: 800;
}

#contactLink:hover {
  filter: drop-shadow(4px 4px 4px #5453537e);
  transform: translate(-2px, -2px);
  color: #eef5e0;
}

.aboutCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#myphoto {
  margin: 40px;
  box-shadow: 8px 8px 33px #7c8580,
            -8px -8px 33px #d8e7de;
}

h3 {
  padding: 10px;
  margin-bottom: 40px;
  font-size: clamp(1.2rem, 4vw, 1.4rem);
}

.education img {
  margin-bottom: 100px;
  margin-left: 10px;
  margin-right: 10px;
}

#edu {
  margin-top: 75px;
}

#resumeBtn {
  padding: 10px;
  background-color: #EFFFCA;
}

.proficiencies {
  margin-bottom: 300px;
}

.proficiencies img {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

#btnBorder {
  margin-top: 50px;
  padding: 50px;
  border: 2px solid #eef5e0;
}

.card {
  margin-top: 30px;
}

.projectImg {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 575px) {
  #intro { 
    min-width: 300px !important;
  }

  .introCol {
    min-width: fit-content;
  }

  #myphoto {
    max-width: 75%;
  }

  #aboutTxt {
    padding: 5px 20px;
  }
}

.contactContainer{
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactColumn{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  padding-top: calc(1.2vw + 20px);
  padding-bottom: calc(.5vw + 5px);
  padding-left: calc(1.2vw + 20px);
  padding-right: calc(1.2vw + 20px);
  border: 2px solid #9ea985;
  border-radius: 0px;
  background: #f2fff7;
  box-shadow: inset 16px 16px 33px #94a297, inset -16px -16px 33px #cbead7;
  font-size: clamp(1.2rem, 4vw, 1.7rem);
  color: #34443a;
  filter: drop-shadow(3px 4px 4px #7b797965);
  max-width: fit-content;
}

#contactTxt {
  font-size: clamp(1.25em, 4vw, 1.6em);
  font-weight: 800;
}

#contMsg {
  font-size: clamp(1.2rem, 4vw, 1.3rem);
  font-weight: 600;
  padding: 10px;
}