.nav {
  width: 100vw;
  background: #e5eaff;
  box-shadow: inset 16px 16px 33px #b7baba,
    inset -16px -16px 33px #ffffff;
  border-radius: 0 0 20px 20px;
  display: flex;
  align-items: flex-end;
  padding-top: 50px;
  padding-left: 20px;
  list-style-type: none;
}

.navCol {
  display: flex !important;
  justify-content: flex-end;
}

.nav-item {
  margin: 0 2px;
  padding: .25vw .8vw;
  font-size: clamp(.8rem, 2vw, 1.1rem);
  text-decoration: none !important;
  color: dimgray;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(134, 131, 131, 0.3), -2px -2px 4px rgba(255, 255, 255, 1);
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  background: #e7f4dd;
 box-shadow:  2px 2px 16px #98bc8a8e,
             -2px -2px 16px #f0ffd0 !important;
  filter: drop-shadow(2px 5px 12px #6f6f69b9);
}

.nav-item:hover {
  filter: drop-shadow(4px 4px 4px #5453537e);
  transform: translate(-2px, -2px);
  color: #eef5e0;
}

.nav-item a {
  text-decoration: none !important;
  color: #4a5e58;
}

@media screen and (max-width: 360px) {
  .nav-item {
    border-radius: 0;
    margin: 2px;
  }
}

/* li:not(.nav-item){
    margin: 0 1rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid rgba(255,255,255,.3);
    box-shadow: 4px 4px 6px 0 rgba(0,0,0,.1), -4px -4px 6px rgba(255,255,255,1);
    border-radius: 10px;
    cursor: pointer;
    transition: color 0.2s ease-out, transform 0.2s ease-out;
    color: dimgray;
  }
    li:not(.nav-item):hover {
      transform: scale(1.05);
      box-shadow: 4px 4px 10px 0 rgba(0,0,0,.1), -4px -4px 10px rgba(255,255,255,1);
    }  
    
    li:not(.nav-item):focus {
      outline: none;
      transform: scale(0.95);
      box-shadow: 4px 4px 10px 0 rgba(0,0,0,.1), -4px -4px 10px rgba(255,255,255,1), 4px 4px 10px 0 rgba(0,0,0,.1) inset, -4px -4px 10px rgba(255,255,255,1) inset;
    }
   */