
.card {
  margin-top: 30px;
  border-radius: 58px;
  background: #ebfffd;
  box-shadow: inset 23px 23px 46px #d6e8e6,
    inset -23px -23px 46px #ffffff;
  min-width: fit-content;
  filter: drop-shadow(2px 5px 12px #83837c70); 
}

.card-text {
  color: #f5fffa;
  text-align: center;
  text-decoration: none;
  padding: 1.1vw;

}

.imgRow {
  justify-content: space-around;
}

.gitHubLink {
  border-radius: 58px;
  margin-top: 8px;
  background: #aebdb5ba;
  box-shadow:  8px 4px 16px #9fb4a9c2,
               -8px -4px 16px #dce7e1;
  padding: 1.1vw;
  text-decoration: none;
  font-weight: 700;
  color: #f9fff5;
  border: 3px solid #dce7e16f;
}

.gitHubLink:hover, .projectImg:hover {
  filter: drop-shadow(4px 4px 4px #5453537e);
  transform: translate(-2px, -2px);
  color: #eef5e0;
}

#projectsH1{
  display: inline-block;
  margin-top: 65px;
  margin-bottom: 20px;
  padding: .9vw 8vw;
  border: 2px solid #778753;
  border-radius: 58px;
  background: #aab6af;
  box-shadow: inset 16px 16px 33px #7c8580,
            inset -16px -16px 33px #d8e7de;
  font-size: clamp(1.2rem, 4vw, 1.7rem);
  min-width: fit-content;
  color:#34443a;
}

.repoRow {
  justify-content: center;
}

.repoCol {
  min-width: fit-content;
}

.card-header {
  font-size: clamp(1.5rem, 4vw, 2rem);
  padding: 1.1vw;
  border-top-right-radius: 58px !important;
  border-top-left-radius: 58px !important;
  background: #edfbe4;
  box-shadow: inset 23px 23px 46px #d7e8cc,
    inset -23px -23px 46px #ffffff;
}
.infoCol{
  display: flex;
  align-items: center;
}
.projectTitle {
  font-size: clamp(1.1rem, 4vw, 1.5rem);
  padding: 3px;
  margin-top: 10px;
}

.projectImg {
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 2vw;
  max-width: 100%;
  filter: drop-shadow(5px 5px 14px #646464b6);
  border: 2px solid #b5d6d244;
}

.projectInfo {
  font-size: clamp(.8rem, 1.5vw, 1.5rem);
}